.plant-shopping-left-size{

  .plant-shopping-left-size-text {
    font-weight: 700;
    font-size: 18px;
    padding: 14px 18px 0;
  }
  .plant-shopping-left-sorting-item {
    text-decoration: none;
    display: flex;
    margin: 16px 30px;
    justify-content: space-between;
    align-items: center;
    color: #3D3D3D;

    a {
      text-decoration: none;
      color: #3D3D3D;
    }

    p {
      text-decoration: none;
    }
  }

}