.footer-info{
  display: flex;
  background: rgba(70, 163, 88, 0.10);
  max-width: 1200px;
  gap: 88px;
  align-items: center;
  border-bottom: 1px solid  rgba(70, 163, 88, 0.20);
  .footer-info-logo{
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 27px 0 27px 23px;
    h1{
      color: #46A358;
      font-size: 16px;
      line-height: 35px;
      font-weight: 700;
    }
  }
  .footer-info-address{
    display: flex;
    align-items: center;
    gap: 10px;
    p{
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }
  }
  .footer-info-phone{
    display: flex;
    align-items: center;
    gap: 9px;
    p{
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }
  }
  .footer-info-contact{
    display: flex;
    align-items: center;
    gap: 10px;
    p{
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }
  }
}