.plant-shopping-right-sorting-categories {
  display: flex;
  padding: 0 50px;
  gap: 41px;
  .plant-shopping-right-sorting-categories-green{
    color: #46A358;
    font-weight: 700;
    font-size: 15px;
  }
  a {
    font-size: 14px;
    font-weight: 400;
    color: #3D3D3D;
  }
}